<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Delete?</h2>
    <table border=1px>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Department</th>
        <th>Job Title</th>
        <th>Start Date</th>
        <th>Salary</th>
        
        <tr>
            <td>{{item._id}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.department}}</td>
            <td>{{item.jobTitle}}</td>
            <td>{{item.sartDate}}</td>
            <td>{{item.salary}}</td>
        </tr>
    </table>
    <form action="delete" method="POST">
        <input type="hidden" name="id" value={{item._id}}>
        <input type="submit" value="Delete">
    </form>
    <br><a href="index"><button>Return</button></a>
</body>
</html>